.user {
    display: flex;
    width: fit-content;
    background-color: darkgreen;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    flex: 1;
}

.bot, .bot-stream {
    position: relative;
    background-color: darkblue;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.error {
    background-color: rgb(249, 4, 4);
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    flex: 1;
}

#result {
    background-color: rgb(43, 43, 43);
    height: 80vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 5px 0px 5px;
    overflow-y: scroll;
    color: white;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#queryInput {
    background-color: rgb(43, 43, 43);
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    color: white;
    font-size: 13px;
    font-weight: 100;
    outline: none;
    width: 90%;
    height: 20px;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
    word-break: break-word;
    -ms-word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    text-align: left;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}