#settings-wrapper,
#creator-wrapper,
#help-wrapper {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: rgb(53, 53, 53);
    height: fit-content;
    z-index: 1;
    margin: 5px;
    padding: 5px;
}

#settings-content {
    font-size: 12px;
    width: 250px;
    height: 400px;
    color: white;
}

#creator-content {
    font-size: 10px;
}

.settingsClose,
.creatorClose,
.helpClose {
    position: absolute;
    right: 0;
    top: 0;
}